<h1>About Page</h1>

<p>
  This site is simply a password generator made from scratch using Django and
  HTML. The objective is to help those who simply don't want to come up with a
  strong password. This page will help create a string password that passes the
  criteria of what makes up a strong password. I always wanted to show that I am
  simply learning how to use Django and show my growth as a junior software
  engineer. I hope you enjoyed the simplicity of the site.
</p>

<br />

<a href="{% url 'home' %}">Home</a>
